@page "/settings"
@using Allocations.BlazorUI.Shared
@inject HttpClient Http
@inject ILogger<Settings> Logger

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<p role="status">Registry Initialised? : @isInitialised</p>
<p role="status">Current count: @currentCount</p>

<EditForm Model="@initialisationData" OnValidSubmit="InitialiseRegistry">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="numberOfProviders" @bind-Value="initialisationData.NumberOfProvidersRequired" />
    <button class="btn btn-primary" type="submit">Initialise Registry</button>

</EditForm>

@code {
    private int currentCount = 0;
    private bool isRegistryInitialised = false;

    private string isInitialised => isRegistryInitialised ? "Yes" : "No";

    private InitialisationData initialisationData = new();

    private async Task InitialiseRegistry()
    {
        Logger.LogInformation("Initialising registry with {requiredProviders} providers...", initialisationData.NumberOfProvidersRequired);
        _ = await Http.PostAsJsonAsync("settings/initialise", initialisationData);
    }
}
